<h4>Turn off heat on pause</h4>
<form class="form-vertical">
	<div class="control-group">
        <label class="control-label">{{ _('Timer (in seconds):') }}</label>
        <input type="number" class="form-control" placeholder="Enter time to shut off heat in seconds"
            data-bind="value: settingsViewModel.settings.plugins.turn_off_heat_on_pause_timer.timer_time_in_seconds"/>

        <input type="checkbox" id="turn-off-hotend" data-bind="value: settingsViewModel.settings.plugins.turn_off_heat_on_pause_timer.shut_off_hotend">
            <label for="turn-off-hotend" class="control-label">{{ _('Turn off hotend') }}</label>
        </input>

        <input type="checkbox" id="turn-off-heatbed" data-bind="value: settingsViewModel.settings.plugins.turn_off_heat_on_pause_timer.shut_off_heatbed">
            <label for="turn-off-heatbed" class="control-label">{{ _('Turn off heatbed') }}</label>
        </input>
	</div>
</form>