<h4>Turn off heat on pause <small>{{ _('Version') }} {{ plugin_turn_off_heat_on_pause_timer_plugin_version }}</small></h4>
<form class="form-vertical">
	<div class="control-group">
        <div class="controls">
            <label class="control-label">{{ _('Timer (in seconds):') }}</label>
            <input type="number" class="form-control" placeholder="Enter time to shut off heat in seconds"
                data-bind="value: settings.plugins.turn_off_heat_on_pause_timer.timer_time_in_seconds"/>
        </div>

        <div class="controls">
            <label class="checkbox-inline">
                <input type="checkbox" data-bind="checked: settings.plugins.turn_off_heat_on_pause_timer.shut_off_hotend"/>
                {{ _('Turn off hotend') }}
            </label>
        </div>

        <div class="controls">
            <label class="checkbox-inline">
                <input type="checkbox" data-bind="checked: settings.plugins.turn_off_heat_on_pause_timer.shut_off_heatbed"/>
                {{ _('Turn off heatbed') }}
            </label>
        </div>

        <div class="controls">
            <label class="checkbox-inline">
                <input type="checkbox" data-bind="checked: settings.plugins.turn_off_heat_on_pause_timer.shut_off_heated_chamber"/>
                {{ _('Turn off heated chamber') }}
            </label>
        </div>

        <div class="controls">
            <label class="checkbox-inline">
                <input type="checkbox" data-bind="checked: settings.plugins.turn_off_heat_on_pause_timer.restore_temperatures"/>
                {{ _('Restore temperatures on resume (Better to use GCODE script)') }}
            </label>
        </div>
	</div>
</form>